
<% include partials/header %>

	<div class="container">
		<div class="page-header">
			<h1><b><%= top_title %></b></h1>
			<button value="Add" id="home_button" onClick="show_all();"><b>All</button>
			<input type='text' name='query' placeholder='Search by tag' id="search_text_zone"/><button value="Add" id="search_button" onClick="search_it();"><b>Search</b></button>
		</div>

		<% if(jobs.length > 0){ %>
			<div class="jumbotron" id="jt">
				<% for(var j = 0; j < jobs.length; j++){ %>
					<% var h_ref = "#col" + j.toString() + "Content" %>
					<% var id_ = "col" + j.toString() + "Content" %>
					<h2 class="job_title" href=<%= h_ref %> data-toggle="collapse"/><%= jobs[j].title %></h2>
					<div id=<%= id_ %> class="collapse">
						<h6>Published on: <%= jobs[j].date %></h6>
						<h5><%= jobs[j].description %></h5>

						<% var h_ref_2 = "#inf" + j.toString() %>
						<% var id_2 = "inf" + j.toString() %>
						<h5 class="con_info" href=<%= h_ref_2 %> data-toggle="collapse"><b>>> Contact info <<</b> </h5>
						<div id=<%= id_2 %> class="collapse">
							<h5><b>Phone:</b> <%= jobs[j].phone %></h5>
							<h5><b>Email:</b> <%= jobs[j].email %></h5>
							<h5><b>Address:</b> <%= jobs[j].address %></h5>
						</div>

						<h5><b>Tags:</b><% jobs[j].tags.split(', ').forEach(function(tag){ %>
							<a onClick="search_it_arg('<%= tag %>')" <span class="label label-info"><%= tag %></span></a>
						<% }) %></h5>
					</div>
					<% if(j < jobs.length -1 && jobs.length > 1){ %>
						<hr>
					<% } %>
				<% } %>
			</div>
		<% } %>


		<div class="footer">
			| <a href="https://www.eckovation.com/">Eckovation</a>
			| <a href="https://www.unicaen.fr/">Unversité de Caen Normandie</a>
			| <a href="https://www.linkedin.com/in/chihabeddine-aourinmouche-b7239453/">Chihabeddine AOURINMOUCHE</a>
			| <span>As part of an internship admission assignment.</span>
		</div>
	</div>

<% include partials/footer %>